<header>
  <section class="logo" (click)="onLogoClick()">
    <img src="assets/logo/logo.png" alt="logo" height="50px" />
    ShopEase
  </section>
  <nav>
    <section>
      <img
        src="assets/icons/hamburger-menu.svg"
        alt="menu"
        height="30px"
        (click)="toggleMenu()"
        (autoclose)="showMenu = false"
      />
      <section [ngClass]="{ 'hide-menu': !showMenu }">
        <a
          *ngFor="let menu of menuItems"
          [routerLink]="menu.path"
          routerLinkActive="active-page"
          >{{ menu.label | uppercase }}</a
        >
      </section>
    </section>
  </nav>
</header>
