header {
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--white-color);
  position: sticky;
  top: 0;
  padding: 0 40px;
  z-index: 100;
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    cursor: pointer;
  }
  nav section {
    display: flex;
    align-items: center;
    gap: 24px;

    img {
      display: none;
    }

    section {
      display: flex;
      * {
        text-decoration: none;
        font-size: 18px;
      }
    }

    section *:hover {
      color: var(--primary-color);
      font-weight: 500;
    }

    section .active-page {
      color: var(--primary-color);
      text-decoration: underline;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 768px) {
  nav {
    section {
      position: relative;
      img {
        display: inline-block !important;
      }
      section {
        position: absolute;
        top: 100%;
        right: 0px;
        flex-direction: column;
        background-color: var(--white-color);
        border: 1px solid var(--border-color);
        border-radius: 8px;
        padding: 24px 40px;
        z-index: 100;
        a {
        }
      }
      .hide-menu {
        display: none !important;
      }
    }
  }
}
