<section
  class="wrapper"
  (click)="togglePopup()"
  (autoclose)="displayPopup = false"
>
  Category
  {{
    getSelectedCategoryCount() ? " (" + getSelectedCategoryCount() + ")" : ""
  }}
  <section
    class="popup"
    [ngStyle]="{ display: displayPopup ? 'flex' : 'none' }"
  >
    <selection-checkbox
      *ngFor="let category of categoryData"
      [value]="category.name"
      [name]="category.name"
      [label]="category.name"
      [ngModel]="category.status"
      (ngModelChange)="onFilterChange($event, category.name)"
    ></selection-checkbox>
  </section>
</section>
