.filter-input {
  height: 40px;
  width: 300px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #c6c6c5;
  padding: 8px;
  color: #c6c6c5;
  font-size: 14px;
  position: relative;
}

.container-wrapper {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0px 6px 15px #0000001a;
  border-radius: 8px;
  padding: 25px;
  position: absolute;
  top: 40px;
  left: 0px;
  color: #4a4949;
  cursor: default;
  z-index: 1000;
}

.role-filter .body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.datasource-filter .body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.role-filter .header,
.datasource-filter .header,
.privilege-filter .header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #222222;
}

.privilege-title {
  margin-bottom: 4px;
  color: #222222;
  font-weight: bold;
}

.privilege-body {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.privilege-section {
  margin-bottom: 8px;
}

.display {
  display: none;
}

.arrow-down {
  position: absolute;
  right: 12px;
  height: 16px;
  top: 12px;
  transform: rotate(0deg);
  transition: all ease 0.2s;
}

.arrow-down.open {
  transform: rotate(180deg);
  transition: all ease 0.2s;
}

.role-filter,
.datasource-filter {
  margin-bottom: 14px;
}

.chip-holder {
  display: flex;
  height: 30px;
  width: 70px;
  position: absolute;
  top: 4px;
  left: 9px;
  align-items: center;
}

.chip {
  display: flex;
  align-items: center;
  background-color: #4a4949;
  padding: 2px 12px;
  border-radius: 8px;
  color: white;
  margin-right: 4px;
  border: 1px solid #c6c6c5;
}
