/* You can add global styles to this file, and also import other style files */
@import url(./styles/variables.scss);
@font-face {
  font-family: "Gilroy-Regular";
  src: url("assets/fonts/Gilroy-Regular.ttf");
  font-weight: normal;
}

* {
  font-family: Gilroy-Regular, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--font-color);
}
