<section class="controller">
  <app-category-filter
    [categories]="categoryList"
    (onChange)="onCategorySelect($event)"
  ></app-category-filter>
  <app-search
    class="global-search"
    placeholder="Search..."
    (onSearch)="onSearch($event)"
  ></app-search>
</section>
<main>
  <section class="card" *ngFor="let product of filteredProducts">
    <section class="card-image">
      <img [src]="product.imageUrl" alt="product-image" />
    </section>
    <section class="card-body">
      <div class="title">{{ product.label }}</div>
      <div class="price">{{ product.amount }}</div>
      <button>Add to Cart</button>
    </section>
  </section>
  <section *ngIf="filteredProducts.length === 0" class="no-products">
    No products found!
  </section>
</main>
